@using POS.Models.EntityModel

@model IEnumerable<Supplier>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Supplier List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Suppliers" asp-action="Upsert" class="btn-primary btn">
                <i class="fa-solid fa-square-plus"></i> &nbsp; New Supplier
            </a>
        </div>
    </div>
</div>
<br>
<table class="table table-bordered table-striped" style="width:100%" id="SupplierTbl">
    <thead>
        <tr>
           
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Receivable</th>
            <th>Paid</th>
            <th>Purchase Due</th>
            <th>Wallet Balance</th>
            <th>Total Due</th>
            
        </tr>
    </thead>
    <tbody>
    </tbody>


</table>

@section Scripts{
    <script src="~/js/Supplier/supplier.js"> </script>

}