@using POS.Models.EntityModel

@model IEnumerable<Damage>
@{
    ViewData["Title"] = "Index";
}

<div class=" py-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark">Damage List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Damages" asp-action="Upsert" class="btn-info btn btn-sm">
                <i class="fa-solid fa-square-plus"></i> &nbsp; Create New Damage
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-body mb-2">
            <form action="">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <select class="form-control" placeholder="Name" asp-items=" ViewBag.ProductList">
                            <option value="">Select Product</option>
                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" name="number"  value="">
                    </div>




                </div>
                <div class="form-row mt-2">
                    <div class="form-group float-right">
                        <button class="btn btn-success btn-sm" type="submit">
                            <i class="fa fa-sliders"></i>
                            Filter
                        </button>
                        <a href="https://pos.softghor.com/back/product" class="btn btn-info btn-sm">Reset</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<table class="table table-bordered table-striped table-sm" style="width:100%" id="DamageTbl">
    <thead class="bg-info">
        <tr>

            <th>Id</th>
            <th>Date</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Note</th>
            <th>Action</th>


        </tr>
    </thead>
    <tbody>
    </tbody>


</table>

@section Scripts{
    <script src="~/js/Damage/damage.js"> </script>

}