@using POS.Models.EntityModel

@model IEnumerable<Customer>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark">Customer List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Customers" asp-action="Upsert" class="btn-info btn btn-sm">
                <i class="fa-solid fa-square-plus"></i> &nbsp; Create New Customer
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-body mb-2">
            <form action="">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <input type="text" name="name" class="form-control" placeholder="Name" value="">
                    </div>

                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" name="number" placeholder="Mobile Number" value="">
                    </div>

                  


                </div>
                <div class="form-row mt-2">
                    <div class="form-group float-right">
                        <button class="btn btn-success btn-sm" type="submit">
                            <i class="fa fa-sliders"></i>
                            Filter
                        </button>
                        <a href="https://pos.softghor.com/back/product" class="btn btn-info btn-sm">Reset</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<table class="table table-bordered table-striped table-sm" style="width:100%" id="CustomerTbl">
    <thead class="bg-info">
        <tr>
           
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Receivable</th>
            <th>Paid</th>
            <th>Sale Due</th>
            <th>Wallet Balance</th>
            <th>Total Due</th>
            <th>Action</th>
            
           
        </tr>
    </thead>
    <tbody>
    </tbody>


</table>

@section Scripts{
    <script src="~/js/Customer/customer.js"> </script>

}