@model CustomerVM
@{
    ViewData["Title"] = "Create";
}

<div p-3">
    <div class="row">
        <div class="col-md-12 ">

            <form class="" asp-action="Upsert" method="post">
                <div class="border mt-4 p-3">
                    <div class="row pb-2">
                        <h2 class="text-primary">Create Customer</h2>
                        <hr />

                    </div>

                    <input hidden asp-for="Customer.Id" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="Customer.Name"></label>
                                <input asp-for="Customer.Name" class="form-control" />
                                <span asp-validation-for="Customer.Name" class="text-danger"></span>
                            </div>
                        </div>
                   
                    


                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="Customer.Email"></label>
                                <input asp-for="Customer.Email" class="form-control" />
                                <span asp-validation-for="Customer.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="Customer.Address"></label>
                                <textarea asp-for="Customer.Address" class="form-control"></textarea>
                                <span asp-validation-for="Customer.Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="Customer.Phone"></label>
                                <input asp-for="Customer.Phone" class="form-control" />
                                <span asp-validation-for="Customer.Phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="Customer.OpeningReceivable"></label>
                                <input asp-for="Customer.OpeningReceivable" class="form-control" />
                                <span asp-validation-for="Customer.OpeningReceivable" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="Customer.OpeningPayable"></label>
                                <input asp-for="Customer.OpeningPayable" class="form-control" />
                                <span asp-validation-for="Customer.OpeningPayable" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="mb-2 text-center unit-count" style="display:none">
                        <label for="">1= </label>

                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary" style="width:150px">Submit</button>
                        <a asp-controller="Cutomers" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts
    {

    @{
        <partial name="_ValidationScriptsPartial.cshtml" />

    }
    <script src="~/js/Customer/customer.js"></script>
}


