@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-md-6">
            <h2>Manage Product</h2>
            <hr />
        </div>
        <div class="col-md-6">
            <p class="text-end">
 
                <a asp-action="Upsert" asp-controller="Products" class="btn btn-info btn-sm"> <i class="fa-solid fa-square-plus"></i> &nbsp; Create New Products</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card card-body mb-2">
        <form action="">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <input type="text" name="code" class="form-control" placeholder="Product Code" value="">
                </div>

                <div class="form-group col-md-3">
                    <input type="text" class="form-control" name="name" placeholder="Product Name" value="">
                </div>

                <div class="form-group col-md-3">
                    <div class="form-group">
                      <select class="form-control" asp-items="ViewBag.CategoryList">

                    <option value="">Select Category</option></select>
                    </div>
                </div>

                <div class="form-group col-md-3">
                  
                                <select class="form-control" asp-items="ViewBag.BrandList">

                                    <option value="">Select Brand</option>
                                </select>
                      
                </div>


            </div>
            <div class="form-row mt-2">
                <div class="form-group float-right">
                    <button class="btn btn-success btn-sm" type="submit">
                            <i class="fa fa-sliders"></i>
                            Filter
                    </button>
                    <a href="https://pos.softghor.com/back/product" class="btn btn-info btn-sm">Reset</a>
                </div>
            </div>
        </form>
    </div>
        </div>
    </div>
    <br />
    <br />
    <table id="productTBL" class="table table-bordered table-striped table-sm" style="width:100%">
        <thead class="bg-info text-light">
            <tr>
            
                <th>Image</th>
                 <th>Code</th>
                <th>Name</th>
               
                <th>Category</th>
                <th>Brand</th>
                <th>Price</th>
                <th>Cost</th>
                <th>Action</th>
            </tr>
        </thead>

    </table>

    <!-- Modal -->
    <!-- Button trigger modal -->
   

    <!-- Modal -->
    @*products details*@
    <div class="modal fade" id="productsDetails" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="image-area" id="ProductmodalImage">
                               <span  ></span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="details-table">
                                <table class="table table-bordered" id="tbl_productModal">
                                    <tbody>
                                     
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  
                </div>
            </div>
        </div>
    </div>

   @* bar code*@
   <div class="modal fade" id="barCode" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
                    <div id="printbarcode">
               <span style="font-size: 10px;font-weight: 800;">SATTAR HARDWARE</span>
                    <span id="barCodeImage" class="bar-image"></span>
                    <span style="display:block;font-size: 14px;" id="barProductCode"></span>
                    <span style="display:block;font-size: 10px;font-weight: 800;" id="barProductTitle"></span>
                    <span style="display:block;font-size: 10px;font-weight: 800;" id="barProductPrice"></span>
          </div>
                   
                </div>
      <div class="modal-footer">

                    <button onclick="printBarCode('printbarcode')" type="button" class="btn btn-success"><i class="fa-solid fa-print"></i> Print</button>
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>
@section Scripts
    {
    <script src="~/js/Product/product.js"></script>
}