@model PosVM
@{
    ViewData["Title"] = "Create";
}
<style>
.product {
    border: 1px solid #DDD;
    cursor: pointer;
    min-height: 200px;
    max-height: 200px;
}
.img-thumbnail {
    padding: 0.25rem;
    border-color: #f3f3f3;
    border-radius: 3px;
}
#pagingBox{
    display:contents;
} 
.active_page span{
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
</style>
<h1>POS Manage</h1>
<div class="p-3">
    <div class="row">
        <div class="col-md-6 ">
            <div class="bg-white p-3">
                <form class="" asp-action="Upsert" method="post">
                    <div class="border mt-4 p-3">

                        <div class="mb-3">
                            @*<span class="input-group-addon"><i class="fa-solid fa-barcode"></i></span>*@ 
                            @*<input type="text" class="form-control" placeholder="Scan Bar Code" />*@

                        </div>

                        <div class="mb-3">
                            <label></label>
                             <select class="form-control basic-select2" asp-items="@Model.ProductList" id="ProductList">
                                        <option selected value="">Select Product</option>
                               </select> 

                        </div>


                        <div class="mb-3">
                            <label></label>
                            <input type="text" class="form-control" id="getCurrentDate"   />

                        </div>



                        <div class="mb-3">

                           <select class="form-control basic-select2" name="Purchase.SupplierId"  asp-items="@Model.CustomerList" id="CustomerList">
                                             <option selected value="">Walk-in Customer</option>
                                            </select> 

                        </div>


                        <div class="mb-3">
                            <table class="table table-bordered table-striped">
                                <thead class="bg-success">
                                    <tr>
                                        <th>Name</th>
                                        <th>Qunatity</th>
                                        <th>Price</th>
                                        <th>Sub T</th>
                                        <th><a class="text-light" href="#"><i class="fa-solid fa-trash"></i></a></th>
                                    </tr>
                                </thead>

                                <tfoot class="bg-danger">
                                    <tr>
                                        <th colspan="2">Total Qty: <strong id="totalQty">0</strong> </th>
                                        <th colspan="3">Total: <strong id="totalAmount">0</strong> </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>



                        <div class="mb-3 text-center">
                            <button type="submit" class="btn btn-success" style="width:150px">Payment</button>

                        </div>
                    </div>
                </form>
            </div>
        
    </div>
        <div class="col-md-6">
            <div id="products">
    <div class="card">
    <div class="row">
        <div class="col-md-3">
            <div class="card-header">
                <h3 class="card-title">Category</h3>
            </div>
            <div class="card-body category">
                <ul class="list-group">
                                    @foreach(var category in Model.CategoryList)
                                    {
                                         <li class="list-group-item px-0 py-1"><a href="#" class="btn btn-primary btn-block" onclick="getProducts(null,@category.Value)">@category.Text</a>  </li> 
                                    }                           
                                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card-header">
                <h3 class="card-title">Product List</h3>
            </div>
            <div class="card-body">
                
                
                
                    <div class="row">
                        <div class="col-md-6" style="padding-left:4px;">
                            <input type="text" name="" id="searchInput" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <input type="button" onclick="searchProduct()" class="btn btn-success" value="Search">
                            <a href="javascript:clearFilter()" class="btn btn-danger">Reset</a>
                        </div>
                    </div>
           
                
                <div class="row mt-4 productList">
                    <input type='hidden' id='current_page' />
                    <input type='hidden' id='show_per_page' />
                     <div id="pagingBox">
                         
                      
                     
                            
                        
                      </div>                    
                     </div>
                     <nav class="my-3" >
                      <ul class="pagination justify-content-center" id="page_navigation">
                          
                      </ul>
                     </nav>
                      
                                    
                 </div>
        </div>
    </div>
</div>

  </div>     
                
        </div>
              
        </div>
            </div>
       
    </div>
</div>

</div>
@section Scripts
    {
    <script src="~/js/Pos/posCreate.js"></script>
}