@model PosVM
@{
    ViewData["Title"] = "Create";
}

<header class="header bg-ui-general">
    <div class="header-info">
        <h1 class="header-title">
            <strong>POS Manage</strong>
        </h1>
    </div>
</header>
<div class="main-content">
    <div class="row">

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body">

                        <div class="form-row mb-3">
                            <div class="input-group col-md-12">
                                <span class="input-group-addon" id="basic-addon1">
                                    <i class="fa fa-barcode"></i>
                                </span>
                                <input type="text" id="id_code" class="form-control ui-autocomplete-input" placeholder="Scan Barcode" name="code" autofocus="" autocomplete="off">
                            </div>
                        </div>


                        <div class="mb-3 col-md-6">
                            <label>Product</label>
                            <select class="form-control basic-select2" asp-items="@Model.ProductList" id="ProductList">
                                <option selected value="">Select Product</option>
                            </select>
                        </div>

                        <form action=""  method="POST">
                           
                          



                            <div class="form-row">
                                <input type="text" class="form-control" name="sale_date" id="getCurrentDate">
                            </div>
                            <div class="form-row mt-4">
                                <div class="form-group col-9">
                                    <div>
                                    </div>
                                    <select name="customer" id="customer" class="form-select" data-size="10" tabindex="-98" asp-items="@Model.CustomerList">
                                        <option value="">Select Customer</option>

                                    </select>

                                </div>

                                <div class="col-3">

                                    <a href="" class="edit btn btn-info" data-toggle="modal" data-target="#edit" id="Add Customer">

                                        Add
                                    </a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 mt-4">
                                    <table class="table table-bordered" id="SellProduct">
                                        <thead class="bg-info">
                                            <tr>
                                                <th>Name</th>
                                                <th >Quantity</th>
                                                <th>Price</th>
                                                <th>Sub T</th>
                                                <th>
                                                    <a href="#" id="clearList" class="text-light">
                                                        <i class="fa-solid fa-trash"></i>
                                                    </a>
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody id="tbody"></tbody>
                                        <tfoot class="bg-danger">
                                            <tr>
                                                <th class="text-center" colspan="2">
                                                    <strong>  Total Qty: <span id="TotalQtyTxt">0</span>  <input type="hidden" value="0" id="sellTotalQty" /> </strong>

                                                </th>
                                                <th class="text-center" colspan="3">
                                                    <strong> Total: <span id="grandTotalTxt">0</span> Tk <input type="hidden" value="0" name="Purchase.GrandTotal" id="PurchaseGrandTotal" /> </strong>

                                                </th>
                                            </tr>
                                        </tfoot>
                                    </table>

                                    <div class="form-gorup text-center">
                                        <button type="button" id="payment-btn" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#payment-modal">
                                            <i class="fa fa-money"></i>
                                            Payment
                                        </button>
                                    </div>

                                    <div class="modal fade" id="payment-modal" tabindex="-1">
                                        <div class="modal-dialog modal-md">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="myModalLabel">Payment</h4>
                                                    <button type="button" class="close" data-dismiss="modal">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table table-bordered text-left">
                                                        <tbody>
                                                            <tr>
                                                                <td width="50%">
                                                                    <strong class="float-left">Paying Items: </strong>
                                                                    <strong class="float-right">(<span id="items">0</span>)</strong>
                                                                </td>
                                                                <td>
                                                                    <strong class="float-left">Total Receivable: </strong>
                                                                    <strong class="float-right">(<span id="receivable">0</span> Tk)</strong>
                                                                    <input type="hidden" name="receivable_amount" id="receivable_input" value="0">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="50%">
                                                                    <strong class="float-left">After Discount : </strong>
                                                                    <strong class="float-right"> (<span id="after_discount">0</span> Tk)</strong>
                                                                </td>
                                                                <td>
                                                                    <strong class="float-left">Balance </strong>
                                                                    <strong class="float-right"> (<span id="balance">0</span> Tk)</strong>
                                                                    <input type="hidden" name="balance" id="balance_input" value="0">
                                                                </td>
                                                            </tr>



                                                        </tbody>
                                                    </table>
                                                    <hr>








                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="discount">Discount</label>
                                                            <input type="text" class="form-control" id="discount" name="discount" placeholder="0%">

                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="payment_method">Note</label>
                                                            <textarea name="note" class="form-control"></textarea>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="form-row">

                                                        <div class="form-group col-md-6">
                                                            <label for="">Transection Account</label>
                                                            <select name="bank_account_id" class="form-control" required="">
                                                                <option value="1">
                                                                    CASH
                                                                </option>
                                                                <option value="2">
                                                                    bkas
                                                                </option>
                                                                <option value="3">
                                                                    dbbl
                                                                </option>
                                                            </select>
                                                        </div>





                                                        <div class="form-group col-md-6">
                                                            <label for="pay_amount">Pay Amount</label>
                                                            <div class="input-group">
                                                                <input type="number" step="any" class="form-control" name="pay_amount" id="pay_amount" placeholder="Pay Amount...">
                                                                <span class="input-group-btn">
                                                                    <button class="btn btn-warning" type="button" id="paid_btn">PAID!</button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-bold btn-secondary" data-dismiss="modal">Cancel</button>
                                                    <button type="submit" class="btn btn-bold btn-primary" id="order-btn">
                                                        <i class="fa fa-shopping-cart"></i>
                                                        Order
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>

                            </form>
                                     
                           
                    
                    
                    
                    
                    
                    
                    
                    
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="products">
                        <div class="card">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card-header">
                                        <h3 class="card-title">Category</h3>
                                    </div>
                                    <div class="card-body category">
                                        <ul class="list-group">
                                            @foreach (var category in Model.CategoryList)
                                            {
                                                <li class="list-group-item px-0 py-1"><a href="#" class="btn btn-info btn-block" onclick="getProducts(null,@category.Value)">@category.Text</a>  </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="card-header">
                                        <h3 class="card-title">Product List</h3>
                                    </div>
                                    <div class="card-body">



                                        <div class="row">
                                            <div class="col-md-6" style="padding-left:4px;">
                                                <input type="text" name="" id="searchInput" class="form-control">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="button" onclick="searchProduct()" class="btn btn-success" value="Search">
                                                <a href="javascript:clearFilter()" class="btn btn-danger">Reset</a>
                                            </div>
                                        </div>


                                        <div class="row mt-4 productList">
                                            <input type='hidden' id='current_page' />
                                            <input type='hidden' id='show_per_page' />
                                            <div id="pagingBox">

                                            </div>
                                        </div>
                                        <nav class="my-3">
                                            <ul class="pagination justify-content-center" id="page_navigation">
                                            </ul>
                                        </nav>


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="alert-modal" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="text-center">
                            <h3>Please add some products.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>




@section Scripts
    {
    <script src="~/js/Pos/posCreate.js"></script>
}