
@{
    ViewData["Title"] = "Create";
}
<style>
.product {
    border: 1px solid #DDD;
    cursor: pointer;
}
.img-thumbnail {
    padding: 0.25rem;
    border-color: #f3f3f3;
    border-radius: 3px;
}
#pagingBox{
    display:contents;
} 
.active_page span{
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
</style>
<h1>POS Manage</h1>
<div class="p-3">
    <div class="row">
        <div class="col-md-6 ">
            <div class="bg-white p-3">
                <form class="" asp-action="Upsert" method="post">
                    <div class="border mt-4 p-3">

                        <div class="mb-3">
                            @*<span class="input-group-addon"><i class="fa-solid fa-barcode"></i></span>*@ 
                            @*<input type="text" class="form-control" placeholder="Scan Bar Code" />*@

                        </div>

                        <div class="mb-3">
                            <label></label>
                            <input type="text" placeholder="Start to write product name" class="form-control" />

                        </div>


                        <div class="mb-3">
                            <label></label>
                            <input type="date" class="form-control" />

                        </div>



                        <div class="mb-3">

                            <select class="form-select">
                                <option>Walk-in Customer</option>
                            </select>

                        </div>


                        <div class="mb-3">
                            <table class="table table-bordered table-striped">
                                <thead class="bg-success">
                                    <tr>
                                        <th>Name</th>
                                        <th>Qunatity</th>
                                        <th>Price</th>
                                        <th>Sub T</th>
                                        <th><a class="text-light" href="#"><i class="fa-solid fa-trash"></i></a></th>
                                    </tr>
                                </thead>

                                <tfoot class="bg-danger">
                                    <tr>
                                        <th colspan="2">Total Qty: <strong id="totalQty">0</strong> </th>
                                        <th colspan="3">Total: <strong id="totalAmount">0</strong> </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>



                        <div class="mb-3 text-center">
                            <button type="submit" class="btn btn-success" style="width:150px">Payment</button>

                        </div>
                    </div>
                </form>
            </div>
        
    </div>
        <div class="col-md-6">
            <div id="products">
    <div class="card">
    <div class="row">
        <div class="col-md-3">
            <div class="card-header">
                <h3 class="card-title">Category</h3>
            </div>
            <div class="card-body category">
                <ul class="list-group">
                                            <li class="list-group-item px-0 py-1"><a href="#" class="btn btn-primary btn-block" onclick="getProductsByCat(5)">Document</a>
                        </li>
                                            <li class="list-group-item px-0 py-1"><a href="#" class="btn btn-primary btn-block" onclick="getProductsByCat(1)">Electronics</a>
                        </li>
                                            <li class="list-group-item px-0 py-1"><a href="#" class="btn btn-primary btn-block" onclick="getProductsByCat(3)">Fashion</a>
                        </li>
                                            <li class="list-group-item px-0 py-1"><a href="#" class="btn btn-primary btn-block" onclick="getProductsByCat(4)">Hardware</a>
                        </li>
                                            <li class="list-group-item px-0 py-1"><a href="#" class="btn btn-primary btn-block" onclick="getProductsByCat(2)">House</a>
                        </li>
                                    </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card-header">
                <h3 class="card-title">Product List</h3>
            </div>
            <div class="card-body">
                
                
                <form action="https://pos.softghor.com/back/pos-products" class="product-filter">
                    <div class="row">
                        <div class="col-md-6" style="padding-left:4px;">
                            <input type="text" name="code" class="form-control code">
                        </div>
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-success" value="Search">
                            <a href="https://pos.softghor.com/back/pos/create" class="btn btn-danger">Reset</a>
                        </div>
                    </div>
                </form>
                
                
                <div class="row mt-4 productList">
                    <input type='hidden' id='current_page' />
                    <input type='hidden' id='show_per_page' />
                     <div id="pagingBox">
                          <div class="col-sm-4 col-md-4">
                            <div class=" product text-center m-2 product">
                            <img src="~/img/ProductImages/4c42a969-41da-469c-9fb5-ee8115017781logo.PNG" class="align-self-start img-thumbnail" alt="Air Condition" style="width:80px" data-pagespeed-url-hash="31082695" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <br>
                            <span>Air Condition - 000007</span>
                            <br>
                            <small class="font-weight-bold">96000.00</small> Tk
                            <br>
                            <small class="stock">Stock : 98 pc</small>
                            </div>
                        </div>
                         <div class="col-sm-4 col-md-4">
                            <div class=" product text-center m-2 product">
                            <img src="~/img/ProductImages/4c42a969-41da-469c-9fb5-ee8115017781logo.PNG" class="align-self-start img-thumbnail" alt="Air Condition" style="width:80px" data-pagespeed-url-hash="31082695" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <br>
                            <span>Air Condition - 000007</span>
                            <br>
                            <small class="font-weight-bold">96000.00</small> Tk
                            <br>
                            <small class="stock">Stock : 98 pc</small>
                            </div>
                        </div>
                         <div class="col-sm-4 col-md-4">
                            <div class=" product text-center m-2 product">
                            <img src="~/img/ProductImages/4c42a969-41da-469c-9fb5-ee8115017781logo.PNG" class="align-self-start img-thumbnail" alt="Air Condition" style="width:80px" data-pagespeed-url-hash="31082695" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <br>
                            <span>Air Condition - 000007</span>
                            <br>
                            <small class="font-weight-bold">96000.00</small> Tk
                            <br>
                            <small class="stock">Stock : 98 pc</small>
                            </div>
                        </div>
                         <div class="col-sm-4 col-md-4">
                            <div class=" product text-center m-2 product">
                            <img src="~/img/ProductImages/4c42a969-41da-469c-9fb5-ee8115017781logo.PNG" class="align-self-start img-thumbnail" alt="Air Condition" style="width:80px" data-pagespeed-url-hash="31082695" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <br>
                            <span>Air Condition - 000007</span>
                            <br>
                            <small class="font-weight-bold">96000.00</small> Tk
                            <br>
                            <small class="stock">Stock : 98 pc</small>
                            </div>
                        </div>
                         <div class="col-sm-4 col-md-4">
                            <div class=" product text-center m-2 product">
                            <img src="~/img/ProductImages/4c42a969-41da-469c-9fb5-ee8115017781logo.PNG" class="align-self-start img-thumbnail" alt="Air Condition" style="width:80px" data-pagespeed-url-hash="31082695" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <br>
                            <span>Air Condition - 000007</span>
                            <br>
                            <small class="font-weight-bold">96000.00</small> Tk
                            <br>
                            <small class="stock">Stock : 98 pc</small>
                            </div>
                        </div>
                         <div class="col-sm-4 col-md-4">
                            <div class=" product text-center m-2 product">
                            <img src="~/img/ProductImages/4c42a969-41da-469c-9fb5-ee8115017781logo.PNG" class="align-self-start img-thumbnail" alt="Air Condition" style="width:80px" data-pagespeed-url-hash="31082695" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <br>
                            <span>Air Condition - 000007</span>
                            <br>
                            <small class="font-weight-bold">96000.00</small> Tk
                            <br>
                            <small class="stock">Stock : 98 pc</small>
                            </div>
                        </div>
                         <div class="col-sm-4 col-md-4">
                            <div class=" product text-center m-2 product">
                            <img src="~/img/ProductImages/4c42a969-41da-469c-9fb5-ee8115017781logo.PNG" class="align-self-start img-thumbnail" alt="Air Condition" style="width:80px" data-pagespeed-url-hash="31082695" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <br>
                            <span>Air Condition - 000007</span>
                            <br>
                            <small class="font-weight-bold">96000.00</small> Tk
                            <br>
                            <small class="stock">Stock : 98 pc</small>
                            </div>
                        </div>
                         <div class="col-sm-4 col-md-4">
                            <div class=" product text-center m-2 product">
                            <img src="~/img/ProductImages/4c42a969-41da-469c-9fb5-ee8115017781logo.PNG" class="align-self-start img-thumbnail" alt="Air Condition" style="width:80px" data-pagespeed-url-hash="31082695" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <br>
                            <span>Air Condition - 000007</span>
                            <br>
                            <small class="font-weight-bold">96000.00</small> Tk
                            <br>
                            <small class="stock">Stock : 98 pc</small>
                            </div>
                        </div>
                         <div class="col-sm-4 col-md-4">
                            <div class=" product text-center m-2 product">
                            <img src="~/img/ProductImages/4c42a969-41da-469c-9fb5-ee8115017781logo.PNG" class="align-self-start img-thumbnail" alt="Air Condition" style="width:80px" data-pagespeed-url-hash="31082695" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <br>
                            <span>Air Condition - 000007</span>
                            <br>
                            <small class="font-weight-bold">96000.00</small> Tk
                            <br>
                            <small class="stock">Stock : 98 pc</small>
                            </div>
                        </div>
                         <div class="col-sm-4 col-md-4">
                            <div class=" product text-center m-2 product">
                            <img src="~/img/ProductImages/4c42a969-41da-469c-9fb5-ee8115017781logo.PNG" class="align-self-start img-thumbnail" alt="Air Condition" style="width:80px" data-pagespeed-url-hash="31082695" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <br>
                            <span>Air Condition - 000007</span>
                            <br>
                            <small class="font-weight-bold">96000.00</small> Tk
                            <br>
                            <small class="stock">Stock : 98 pc</small>
                            </div>
                        </div>
                         <div class="col-sm-4 col-md-4">
                            <div class=" product text-center m-2 product">
                            <img src="~/img/ProductImages/4c42a969-41da-469c-9fb5-ee8115017781logo.PNG" class="align-self-start img-thumbnail" alt="Air Condition" style="width:80px" data-pagespeed-url-hash="31082695" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <br>
                            <span>Air Condition - 000007</span>
                            <br>
                            <small class="font-weight-bold">96000.00</small> Tk
                            <br>
                            <small class="stock">Stock : 98 pc</small>
                            </div>
                        </div>
                         <div class="col-sm-4 col-md-4">
                            <div class=" product text-center m-2 product">
                            <img src="~/img/ProductImages/4c42a969-41da-469c-9fb5-ee8115017781logo.PNG" class="align-self-start img-thumbnail" alt="Air Condition" style="width:80px" data-pagespeed-url-hash="31082695" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <br>
                            <span>Air Condition - 000007</span>
                            <br>
                            <small class="font-weight-bold">96000.00</small> Tk
                            <br>
                            <small class="stock">Stock : 98 pc</small>
                            </div>
                        </div>
                         <div class="col-sm-4 col-md-4">
                            <div class=" product text-center m-2 product">
                            <img src="~/img/ProductImages/4c42a969-41da-469c-9fb5-ee8115017781logo.PNG" class="align-self-start img-thumbnail" alt="Air Condition" style="width:80px" data-pagespeed-url-hash="31082695" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <br>
                            <span>Air Condition - 000007</span>
                            <br>
                            <small class="font-weight-bold">96000.00</small> Tk
                            <br>
                            <small class="stock">Stock : 98 pc</small>
                            </div>
                        </div>
                         <div class="col-sm-4 col-md-4">
                            <div class=" product text-center m-2 product">
                            <img src="~/img/ProductImages/4c42a969-41da-469c-9fb5-ee8115017781logo.PNG" class="align-self-start img-thumbnail" alt="Air Condition" style="width:80px" data-pagespeed-url-hash="31082695" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <br>
                            <span>Air Condition - 000007</span>
                            <br>
                            <small class="font-weight-bold">96000.00</small> Tk
                            <br>
                            <small class="stock">Stock : 98 pc</small>
                            </div>
                        </div>
                     
                     
                            
                        
                      </div>                    
                     </div>
                     <nav class="my-3" >
                      <ul class="pagination justify-content-center" id="page_navigation">
                          
                      </ul>
                     </nav>
                      
                                    
                 </div>
        </div>
    </div>
</div>

  </div>     
                
        </div>
              
        </div>
            </div>
       
    </div>
</div>

</div>
@section Scripts
    {
    <script src="~/js/Pos/posCreate.js"></script>
}